/* EmailHeader.css */
.email-header{
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}
.header-top >div{
display: flex;
justify-content: space-between;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: white;
}

.sort-options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sort-options button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}




/* EmailList.css */

.list{
  border-right: 1px solid #343a40;
  padding: 10px 15px ;
  box-sizing: border-box;
  overflow: scroll;

}
.email-list {
  background-color: #000000;
  overflow-y: hidden;
}

.email-item {
  padding: 15px 5px;
  border-top: 1px solid #333;
  cursor: pointer;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.email-item:hover {
  background-color: #1d1c1c;
}

.email-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-indicator {
  width: 8px;
  height: 8px;
  margin-right: 8px;
  background-color: #3b82f6; /* Blue dot */
  border-radius: 50%;
}

.email-sender {
  font-weight: 500;
  font-size: 18px;
}

.email-date {
  color: #888;
}

.email-subject {
  margin: 5px 0 5px 15px;
  font-weight: 300;
  font-size: 14px;
}

.email-tags {
  display: flex;
  gap: 10px;
}

.email-status {
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  display: inline-block;
}

.email-status.Interested {
  background-color: #28a745; /* Green */
  color: #fff;
}

.email-status.Closed {
  background-color: #6c757d; /* Gray */
  color: #fff;
}

.email-status.Meeting {
  background-color: #007bff; /* Blue */
  color: #fff;
}

.email-campaign {
  padding: 2px 8px;
  background-color: #444;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}
.email-campaign >img{
  height: 12px;
  margin-right: 5px;
}
