/* EmailThread.css */

::-webkit-scrollbar {
  width: 0px;
}

.thread{
    background-color: #000000;
    color: white;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    font-family: Arial, sans-serif;
    overflow-y: scroll;
  }
  
  .thread-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 20px;
  }
  
  .sender-info h2 {
    margin: 0;
    font-size: 20px;
  }
  
  .sender-info p {
    margin: 0;
    color: #888;
  }
  
  .status-buttons {
    display: flex;
    gap: 10px;
  }
  
  .status-button,
  .move-button {
    background-color: #303044;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .status-button:hover,
  .move-button:hover {
    background-color: #444456;
  }
  
  .email-content {
    background-color: rgb(20, 21, 23);
    padding: 20px;
    border: 1px solid #343a40;
    border-radius: 8px;
  }
  
  .email-date span {
    background-color: #444456;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
  } 

  .email-meta {
    display: flex;
    justify-content: space-between;
    color: #888;
  }
  .email-meta > h3{
    color: white;
    margin-bottom: 10px;
  }


  
  .email-body h3 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .email-body p {
    margin: 0;
    font-size: 14px;
  }
  
  .view-replies-button {
    background-color: #444456;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .view-replies-button:hover {
    background-color: #555566;
  }
  
  .email-replies {
    background-color: #2e2e3e;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  .email-reply {
    padding: 10px;
    border-bottom: 1px solid #444456;
  }
  
  .email-reply:last-child {
    border-bottom: none;
  }
  
  .reply-button {
    background-color: #444456;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .reply-button:hover {
    background-color: #555566;
  }
  





  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 12px 0px;
    

  }
  
  .line {
    flex-grow: 1;
    height: 2px;
    background-color: #171819;
  }
  
  .center-content {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 5px 18px; /* Adjust padding as needed */
    background-color: #171819; /* Same as the parent background to blend in */
    color: #fff;
    z-index: 1;
    
  }
  
  .center-content .icon {
    margin-right: 5px; /* Adjust spacing as needed */
  }
  